<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="theme-color" content="#000000" />
       
       
        <title>Pokedex</title>3
        <link href="./assets/style.css" rel="stylesheet" />
    
    </head>
    <body>
        <link rel="Pokedex" href="https://pbs.twimg.com/profile_images/1870947834/pokedex1.gif"
        <div id="root">
            <header>Pokedex</header>
            <h2>Search for a Pokemon!</h2>
            <p>Enter in the pokemon name that you want to look up</p>

        </div>

       
    </body>
</html>